
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
 body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(224, 224, 224);;
    margin-top: 50px;
     padding-top: 50px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
 }
    

